.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

__pycache__
Dockerfile
README.org
diagram.png
.dockerignore
.envrc.default
.envrc
.git
.gitignore
.github
shell.nix
docker.nix
.pytest_cache
.venv
