*.log
.DS_Store
.idea
tmp/

*.egg
*.py[cod]
build
htmlcov

.dockerignore
.envrc
.envrc.default
.git
.github
.gitignore
.pytest_cache
.venv
Dockerfile
README.org
__pycache__
diagram.png
docker.nix
shell.nix
test-results
