*.log
.DS_Store
.idea
tmp/

*.egg
*.py[cod]
build
htmlcov

*.org
.dockerignore
.envrc
.envrc.default
.git
.github
.gitignore
.pytest_cache
.reviewdog.yml
.venv
Dockerfile
__pycache__
diagram.png
docker.nix
shell.nix
test-results
